<html>
	<body>
		<canvas
			id="canvas"
		>
		</canvas>
	</body>
</html>


{# FROM: https://stackoverflow.com/a/78391195 #}
<script
	src="{{ url_for("static", filename="Scripts/Headers.js") }}"
	type="module"
></script>
<script></script>
