<html>
	<title>
		Join Lobby
	</title>

	<h1>
		Join Lobby
	</h1>

	<div>
		<h2>
			Current Lobby
		</h2>

		{% include("lobby_status.j2") %}

	</div>

	<form
		method="POST"
	>
		<input
			name="name"
		/>

		<select
			name="color"
		>
			{% for color in lobby.available_player_colors() %}
				<option
					value="{{ color.id }}"
				>
					{{ color.label }}
				</option>
			{% endfor %}
		</select>

		<button
			type="submit"
		>
			Join Lobby
		</button>
	</form>
	<div>
		Lobby Data
	</div>
</html>
