
<html>
	<h1
		style="color: rgb({{ player.color.rgb | join(", ") }})"
	>
		Welcome Back {{ player.name }}
	</h1>
	<div>
		<h2>
			Current Lobby
		</h2>

		Change Color
		<select
			id="player_color-select"
		>
			<option
				value="{{ player.color.id }}"
				selected
			>
				{{ player.color.label }}
			</option>
			{% for color in colors %}
				<option
					value="{{ color.id }}"
				>
					{{ color.label }}
				</option>
			{% endfor %}
		</select>

		{% include("lobby_status.j2") %}

	</div>
	<form>
		<button
			type="submit"
		>
			Start Game
		</button>
	</form>

	<button
		type="submit"
	>
		Leave Lobby
	</button>

	<div>
		<button
			onclick="navigator.clipboard.writeText(window.location.href);"
		>
			Copy Sharable Link
		</button>
	</div>
</html>

<script
	src="{{ url_for("static", filename="Scripts/Lobby.js") }}"
	type="module"
>
</script>
